.btn-gradient{
    background: linear-gradient(70deg, indigo,var(--primary-700), indigo);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.text-gradient2 {
    background: linear-gradient(90deg, var(--gold) , var(--accent-300), var(--primary-300));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.xp-meter{
    margin-bottom: 10px;
}

.action-buttons .btn{
    margin: 5px;
    padding: 8px 12px;
}

@media (max-width: 970px) {
    .m-hide{
    display: none;
}
}

@media (max-width: 400px) {
    h1{
    font-size: 25px;
}

}
