<div class="main-content">
    <div class="grid grid-2">
        <article style="margin:10px">
            <span class="badge badge-primary" style="font-weight:600">🔥 Gamified Fullstack Learning Platform 🚀 </span>
            <div class="m-20">
                <div class="d-ib">
                    <h1> Level Up Through </h1>
                <h1 style="margin-top:10px" class="text-gradient"> Real Engineering Work</h1>
                </div>
                <div class="d-ib m-hide" style="margin-left: 10px;">
                    <span style="font-size: 55px;">💻🛠️</span>
                </div>          
            </div>
            <p class="text-lead m-20">Learn by doing. Build apps. Fix bugs. Resolve real-world incidents and
                build production-ready skills that modern software companies <span class="m-hide">actually</span> hire and pay for.</p>
            <div>
                <button class="btn btn-gradient m-20">Start Your Journey - It's Free</button>
                <button class="btn btn-subtle m-20" [routerLink]="['/quests']">
                    <i class="bi bi-play-circle"></i>Explore Quests
                </button>
            </div>
        </article>
        <article class="card card-interactive" style="margin:10px">
            <div class="card-header">
                <div class="grid grid-3">
                    <div>
                        <h1 style="color:var(--streak)">🔥42</h1>
                        <div class="text-small" style="margin-left:15px">Day Streak</div>
                    </div>
                    <div>
                        <h3 style="color:var(--level)" class="text-gradient">  Level 8</h3>
                        <div class="progress" style="margin: 5px 0px;background:darkslategrey">
                            <div class="progress-bar progress-bar-xp" style="width:60%"></div>
                        </div>
                        <div class="text-small">Senior Software Engineer</div>
                    </div>
                    <div> 
                        <h1 style="color:var(--xp)">💎 2,500 XP</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="grid grid-2">
                    <div>
                        <h3 style="margin-bottom:15px">Progress</h3>
                        <div class="xp-meter">
                            <div class="progress-meta">
                                <span>Java</span>
                                <span>80%</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-xp" style="width:80%"></div>
                            </div>
                        </div>
                        <div class="xp-meter">
                            <div class="progress-meta">
                                <span>Spring Boot</span>
                                <span>40%</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-xp" style="width:40%"></div>
                            </div>
                        </div>
                        <div class="xp-meter">
                            <div class="progress-meta">
                                <span>Angular</span>
                                <span>60%</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-xp" style="width:60%"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="grid grid-2">
                            <div>
                                <h3>Hi there!👋</h3>
                                <p style="margin-top:10px">I'm your AI mentor.<br/> I'll guide you through your learning journey, review your solutions and help you level up faster.</p>
                            </div>
                            <div>
                                <img src="assets/img/ai-mentor.png" style="width:150px;margin-top:10px" />
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </article>
    </div>
</div>
