<div class="main-content" *ngIf="!loading && roadmap; else loadingTpl">
    <nav class="breadcrumb text-subtitle">
        <a href="/">Home</a>
        <span>/</span>
        <a href="/roadmaps">Roadmaps</a>
        <span>/</span>
        <span>{{ roadmap.title }}</span>
    </nav>

    <section class="card" style="padding: 24px; margin-top: 24px;">
        <div class="d-flex" style="gap: 16px; align-items: center; flex-wrap: wrap; margin-bottom: 16px;">
            <cicon [tech]="roadmap.icon" height="50px"></cicon>
            <span class="text-title text-gradient" style="margin-left:15px;vertical-align:middle;margin-right:15px">{{
                roadmap.title }}</span>
            <span class="badge badge-primary" *ngFor="let label of roadmap.labels || []">{{ label }}</span>
            <span class="badge badge-xp" style="margin-left:10px" *ngIf="roadmap.xp"> 💎 {{ roadmap.xp }} XP </span>
            <div style="display: inline-block;width: 30%;margin-left: 50px;vertical-align: middle;">
                <div class="xp-meter">
                    <div class="progress-meta">
                        <span>Progress</span>
                        <span>0%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width:0%"></div>
                    </div>
                </div>
            </div>
        </div>

        <p class="text-subtitle" style="margin-left:15px">{{ roadmap.summary }}</p>

        <div style="display:flex;flex-direction:row;gap:1rem;margin-top:20px;">
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            <span style="font-size: 35px;">Topics</span>
                        </td>
                        <td style="text-align:center">
                            <span>
                               <button class="btn btn-primary" style="font-size:20px" [routerLink]="['/roadmaps', roadmap.id,'explore']">Start <i class="bi bi-play" style="font-size:30px;"></i></button>
                            </span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let topic of roadmap.topics || [], index as i">
                        <td><span class="text-index">{{i+1}}</span><span class="text-subtitle">{{topic.title}}</span></td>
                        <td style="text-align:center"><button class="btn btn-gradient"><i class="bi bi-lock"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <div style="width: 50%;display: flex;flex-direction: column;gap: 1.5rem;">
                <div class="card">
                    <div class="card-header">
                        <span class="text-lead">Roadmap Content</span>
                    </div>
                    <div class="card-body">
                        <span *ngIf="roadmap.topics">Topics: {{roadmap.topics.length}}</span>
                        <span *ngIf="roadmap.quests">Quests: {{roadmap.quests.length}}</span>
                        <span *ngIf="roadmap.projects">Projects: {{roadmap.projects.length}}</span>
                        <span *ngIf="roadmap.assessments">Assessments: {{roadmap.assessments.length}}</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <span class="text-lead">Skills You'll Gain</span>
                    </div>
                    <div class="card-body" style="display:block">
                        <span style="margin:3px;" *ngFor="let skill of roadmap.skills" class="badge badge-default">
                            {{skill}}
                        </span>
                    </div>
                    
                </div>
            </div>

        </div>

    </section>
</div>

<ng-template #loadingTpl>
    <div class="main-content">
        <p class="text-subtitle">Loading roadmap...</p>
    </div>
</ng-template>